body
{
    background-image:url(../Image/background.png);
    background-repeat: repeat;
}

form {
    width: 59%;
    margin-top:4%;
    margin-left:18%;
    text-align: center;

}

input, textarea, select{
    margin-top:10px;
    margin-bottom:40px;
    width: 30%;
    min-height: 20px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 18px;
    line-height: 2.1;
    margin-left: -5px;
    border-right: 1px solid #333;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background: none;
}

label {
    font-size: 18px;
    color: #333;
    text-align: center !important;
    margin-top: 5px;
}

footer
{
    position: absolute;
    background: rgba(63, 63, 83, 0.9);
    color: black;
    width: 100%;
    bottom: 0;
    height: 50px;
}

footer > .copyright
{
    margin-top: 15px;
    padding-left: 7%;
    color: white;
    max-width: 50%;
    font-size: 15px;
}