body{
    background-image:url(../Image/background.png);
    background-repeat: repeat;
}

#tyu{
    font-family: 'Orbitron', cursive;
}

.ent{
    font-family: 'Orbitron', cursive;
    font-size: 400%;
    margin-bottom: 6%;
}

.img{
    max-width: 200px;
    max-height: 200px;
}

.mar{
    margin-top: 0px;
}

.yolo{
    margin-top: 10px;
}
