body {
    background-image:url(../Image/background.png);
    background-repeat: repeat;
}

footer
{
    position: relative;
    background: rgba(63, 63, 83, 0.9);
    color: black;
    width: 100%;
    bottom: 0;
}

footer > .copyright
{
    padding-top: 10px;
    padding-left: 7%;
    color: #ffffff;
    max-width: 50%;
    font-size: 17px;
}

#contact
{
    position: absolute;
    top: 25%;
    right: 4.5%;
    color: white;
    font-size:18px;
}


.ent{
    font-family: 'Orbitron', cursive;
    font-size: 400%;
    padding-bottom: 3%;
}

.img{
    max-width: 200px;
    max-height: 200px;
}

.row{
    margin: 0%;
}